<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Страница продукта</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <a href="/main/all" class="go-back">На главную</a>
            <h1>{{product.header}}</h1>
            <img src="{{product.image.url}}" alt="Какой-то продукт" class="product-image">
            <div class="product-info">
                <div class="product-info-item">
                    {% for prod in list_title %}
                        {% if product.id == prod.product.id%}
                            <h2>{{prod}}</h2>
                        {% endif %}
                        {% for pr in prod.head_list.all.values %}
                            {% if product.id == pr.product_q_id %}
                                <ul>
                                    <li>{{pr.title}}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>